* {
  padding: 1%;
  margin: 1%;
}

.JS {
  background-color: rgb(244, 250, 244);
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.card-answer1 {
  display: none;
  color: blue;
}

.card-answer2 {
  display: none;
  color: blue;
}

.card-answer3 {
  display: none;
  color: blue;
}

.card-answer4 {
  display: none;
  color: blue;
}

.card-answer5 {
  display: none;
  color: blue;
}